@(message: String)

@main("Welcome to Play") {
    <script type="text/javascript" charset="utf-8">
        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
            var socket =
                new WS("@routes.Application.hello.webSocketURL(request)");
            var receiveEvent = function(event) {
                console.log(event.data);
                socket.send("hello server");
            };
            socket.onmessage = receiveEvent;
        });
    </script>

}
